<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Las aplicaciones de notas están muy subestimadas. 
           ¿Cuántas citas, plazos e ideas brillantes se han perdido 
           para siempre por esa pequeña mentira que todos nos decimos cada día: 
           “No necesito escribir esto; lo recordaré”?</p>
    </div>
</div>