<div class="jumbotron mt-4">
    <h1 class="display-5">Notes APP</h1>
    <p class="lead">Aplicacion diseñada para que guardes y gestiones tus notas</p>
    <hr class="my-4">
    <p>La app Notas es el mejor sitio donde apuntar rápidamente ideas o guardar notas más largas con listas, notas manuscritas.
    </p>
    <a href="http://google.com" class="btn btn-primary btn-lg">Google</a>
</div>