{{!-- mensajes para el usuario cuando todo esta correcto --}}
{{#if success_msg}}
<div class="alert alert-success alert-dismissible fade show" role="alert" id="alerta">
    {{success_msg}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/if}}





